// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Contact Section
 ******************************************************************************/

#contact .h4
{
  margin-bottom: $small-space;
}

#contact .horizontal-list
{
  margin-right: -$x-small-space;
  margin-left: -$x-small-space;
}

#contact .horizontal-list li
{
  margin-right: $x-small-space;
  margin-left: $x-small-space;
  font-weight: $bold-weight;
  text-transform: uppercase;
}

#contact .underlined
{
  margin-bottom: $small-space;
  padding-bottom: $small-space;

  @media (min-width: $phablet-breakpoint)
  {
    margin-bottom: $medium-space;
    padding-bottom: $medium-space;
  }
}

#contact .h2.underlined
{
  margin-bottom: $small-space;
  padding-bottom: $small-space;
}

#contact p
{
  @media (min-width: $tablet-breakpoint)
  {
    min-height: 48px;
  }
}
