// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Lists
 ******************************************************************************/

/* Underlined List
 ******************************************************************************/

.underlined-list
{
  list-style: none;
}

.underlined-list li a
{
  display: block;
  padding-top: $small-space;
  padding-bottom: $small-space;
  border-bottom: 1px dotted $gray;
  color: $accent;
}

.underlined-list li:last-child a
{
  border-bottom: none;
}

/* For underlined lists that split into two columns, remove the
 * border-bottom from the 2nd-to-last item on larger screens
 * (when expanded to two columns) 
 */

.underlined-list .one-half:nth-last-child(2) a
{
  @media (min-width: $tablet-breakpoint)
  {
    border-bottom: none;
  }
}

/* For underlined lists that split into two columns, add a border-top
 * to the first 2 children on larger screens, and only the first
 * child on smaller screens (when collapsed to one column)
 */

.underlined-list .one-half:nth-child(1) a
{
  border-top: 1px dotted $gray;
}

.underlined-list .one-half:nth-child(2) a
{
  @media (min-width: $tablet-breakpoint)
  {
    border-top: 1px dotted $gray;
  }
}
