title=Imprint
description=eyeo GmbH is headquartered in Cologne, Germany. For support inquiries, message us at support@adblockplus.org

<style>
  hr { margin: 2em 0; }

  /* Remove margin-top on <h2> directly after <hr> */
  .content hr + h2 { margin-top: 0; }

  .unstyled dt,
  .unstyled dd
  {
    display: inline;
  }

  /* Force a new line after each <dd> */
  .unstyled dd:after
  {
    content: "";
    display: block;
  }
</style>

<div class="column two-thirds" itemscope itemtype="http://schema.org/Organization">

  <h1>{{ imprint[heading] Imprint }}</h1>

  <hr>

  <h2 itemprop="name">{{ eyeo-gmbh[heading] eyeo GmbH }}</h2>

  <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Lichtstraße 25</span><br>
    <span itemprop="postalCode">50825</span>
    <span itemprop="addressLocality">Cologne <br> Germany</span>
  </address>

  <hr>

  <dl class="unstyled">
    <dt>{{ imprint-contact-forum-title For additional support, go to: }}</dt>
    <dd><a href="https://adblockplus.org/forum/">{{ imprint-contact-forum-value Adblock Plus Forum }}</a></dd>

    <dt>{{ imprint-contact-email-title Email: }}</dt>
    <dd itemprop="email"><a href="mailto:support@adblockplus.org">support@adblockplus.org</a></dd>

    <dt>{{ imprint-contact-phone-title Phone: }}</dt>
    <dd itemprop="telephone">+49 (0)221 / 65028 598</dd>

    <dt>{{ imprint-contact-fax-title Fax: }}</dt>
    <dd itemprop="faxNumber">+49 (0)221 / 65028 599</dd>

    <dt>{{ imprint-contact-vat-title Ust-IdNr: }}</dt>
    <dd itemprop="vatID">DE279292414</dd>

    <dt>{{ imprint-contact-district-title District Court: }}</dt>
    <dd>Köln HRB 73508</dd>
  </dl>

  <hr>

  <h2>{{ imprint-directors[heading] Managing Directors }}</h2>

  <ul class="unstyled">
    <li itemprop="founder employee" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Till Faida</span>
    </li>
    <li itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Felix Dahlke</span>
    </li>
    <li itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Steffen Kiedel</span>
    </li>
  </ul>

</div>
